*{
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand",sans-serif;
    transition: all .2s linear;
}
.detail{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontal{
    display: flex;
    height: 300px;
    width: 970px;
    max-width: 970px;
}
.image{
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}
.image img:hover{
    scale: 1.1;
}
.vertical{
    margin-left: 20px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top{
    height: 200px;
}
button{
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.acheter{
    background-color: red;
    color: white;
}
@media(max-widht:1030px){
    .detail{
        margin-left: 35px;
        margin-right: 35px;
    }
    .horozintal{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .vertical{
        width: 100%;
    }
}
